


 <!-- .wHeader -->
    <div class="wConteiner">
        <div class="wSize clearFix">
            <div class="hide_block_mans">
                <a href="#" class="hide_block show">Click here to hide mens online</a>
                <a href="#" class="show_block">Click here to show mens online</a>
            </div>
            <div class="hide_block_video">
                <a href="#" class="hide_block show">Click here to hide video chat window</a>
                <a href="#" class="show_block">Click here to show video chat window</a>
            </div>
            <div class="fll mans">
                <section ng-controller="multiInviteCtrl">
                <a  ng-click="multiInviteWindow()" class="wButton wButtonA padd_max delivery_pop"><span>Multiple Invitations</span></a>


                 <div class="message_up_block">

                        <div class="message_girl" ng-repeat="(key, n) in notifies">
                            <div class="title_hid">Start chatting right NOW!</div>
                            <div class="hid_but" ng-click="collapse()">-</div>
                            <div class="hid_text_block">
                                <div class="fll">
                                    <div class="img_hid_girl">
                                        <img src="Media/images/users/small/[[n.opponent.image]]" alt="">
                                    </div>
                                    <a ng-click="remove(n.id)">Close</a>
                                    <a href="#" class="ignore_hid">Block</a>
                                </div>
                                <div class="flr">
                                    <a href="#" class="name">[[n.opponent.name]], [[n.opponent.age]]</a>
                                    <div class="id_girl">ID: <span>[[n.opponent.user_id]]</span></div>
                                    <!-- <div class="age">Age: <span>25</span></div> -->
                                    <div class="city"><span>[[n.opponent.country]], [[n.opponent.city]]</span></div>
                                    <div class="message_for_man" ><p ng-bind-html="n.message"></p></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <a ng-click="goToRoom(n.opponent.user_id,n.id)" class="start_chat">start chat now</a>
                            </div>
                            <div class="cost_chat">Chat - 1 Credit per minute, video - 2 Credits</div>
                        </div>

                </div>



                   <!-- Multiply invitation popup window  -->
                    <div style="display: none">
                        <div id="multi_invite_window" class="enterRegPopup zoomAnim chat_pop">
                            <div class="logo_pop"><img src="Media/pic/logo_pop.png" alt=""></div>
                            <div class="delivery_block">
                                <form>
                                    <div class="delivery_title">
                                        <div class="title">
                                            <span>mens</span> Online ([[countOnline]])
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="textarea_block">
                                        <div class="text_block_massege">
                                            <textarea></textarea>
                                            <div class="cTextDiv" id="multi_invite_text" contenteditable="true"></div>
                                            
                                        </div>
                                    </div>
                                    <div class="filt_for_send">

                                        <button ng-click="startSending()" class="wSubmit wButton wButtonA"><span>Send</span></button>
                                         <br />
                                        <!-- Блок выводиться при отправке рассылки -->
                                        <div class="progres_block" ng-show="isSending">
                                            <p>Sending...</p>
                                            <div class="send_koll"><span class="now_prog">[[currentCursor]]</span> of <span class="all_prog">[[countOnline]]</span></div>
                                            <div class="progres_bar" style="width: 100%">
                                                <div class="progres_line" style="width: [[ (currentCursor/countOnline)*100 ]]%"></div>
                                            </div>
                                            <br />
                                            <button ng-click="stopSending()" class="wSubmit wButton delete_men"><span>Stop</span></button>
                                            
                                        </div>
                                        
                                        <!--  -->

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="title"><span>MEN</span> Online</div>
                <!--
                <div class="pagination">
                    <a href="#">&lt;</a>
                    <a href="#" class="cur">1</a>
                    <a href="#">2</a>
                    <p>...</p>
                    <a href="#">10</a>
                    <a href="#">&gt;</a>
                </div>
                -->
                <ul class="mans_online">

                       <!-- User online list -->
                            <section ng-controller="UserOnlineCtrl">
                            <ul>
                                <li class="clearFix" ng-repeat="u in user_list">
                                <div class="fll">
                                    <a ng-click="invite([[u.user_id]])" onclick="return false" class="img_man"><img src="Media/images/users/small/[[u.image]]" alt=""></a>
                                </div>
                                <div class="flc">
                                    <a href="#" class="name_age_id">[[u.name]], [[u.age]] (ID [[u.user_id]])</a>
                                    <div class="city_country">[[u.city]], [[u.country]]</div>
                                    <div class="servise">
                                        <ul>
                                            <li><a href="#invite_to_chat" class="web_chat invite_to_chat"></a></li>
                                            <li><a href="#invite_to_chat" class="chat invite_to_chat"></a></li>
                                            <li><a href="#" class="message"></a></li>
                                            <li><a href="#" class="favorite"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            </ul>
                            </section>
                        <!---------------------->

                </ul>
            </div>
            <div class="flr">
                <div class="video_block clearFix" ng-controller="VideoCtrl">
                    <div class="fll">
                        <div class="video_video" id="myVideoContainer">
                            <div id="myVideo"> </div>
                            
                        </div>
                    </div>
                    <div class="flr">
                        <a ng-show="!isMyVideoActive" ng-click="showMyVideo()" class="video_play"><span></span></a>
                        <a ng-show="isMyVideoActive"  ng-click="hideMyVideo()" class="video_play"><span></span></a>
                        <!-- <a href="#" class="video_mute"><span></span></a> -->
                    </div>
                </div>
                
                <div class="contact_list">
                    <div class="title"><span>My</span> Contact List</div>
                       <!-- My contact list -->
                       <section ng-controller="ContactListCtrl">

                                <!-- Popup invitation window  -->
                                <div style="display: none">
                                    <div id="invite_window" class="enterRegPopup zoomAnim chat_pop">
                                        <div class="logo_pop"><img src="Media/pic/logo_pop.png" alt=""></div>
                                        <div class="delivery_block">
                                            <form>
                                                <div class="info_people">
                                                    <div class="girl_who_write clearFix">
                                                        <div class="fll">
                                                            <a href="#" class="img_man_w">
                                                                <img src="Media/images/users/small/[[invited_user.image]]" alt="">
                                                                
                                                                <div ng-show="invited_user.is_online == 1" class="on_line"><span></span></div>
                                                                <div ng-show="invited_user.is_online == 0" class="off_line"><span></span></div>

                                                            </a>
                                                        </div>
                                                        <div class="flr">
                                                            <a href="#" class="name_age_id">[[ invited_user.name ]], [[ invited_user.age ]] (ID [[invited_user.user_id]])</a>
                                                            <div class="city_country">Toronto, Canada</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="textarea_block">
                                                    <div class="text_block_massege">
                                                        <textarea></textarea>
                                                        <div id="inv_text" class="cTextDiv" contenteditable="true"></div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="filt_for_send">
                                                    <button ng-click="submit_invitation()" class="wSubmit wButton wButtonA"><span>Send</span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- end popup -->

                                <ul>
                                    <li class="clearFix" ng-repeat="u in contact_list">
                                    <div class="fll">
                                        <div class="icon_block">

                                            <!-- contact icons -->
                                             <div ng-show="new_messages['user_'+u.user_id]" class="man_write opacity_anim"></div>
                                             <div ng-show="u.is_online == 1" class="on_line_girl"><span></span></div>
                                             <div ng-show="u.is_online == 0" class="off_line_girl"><span></span></div>

                                            <!--
                                            <div class="man_online_ignore opacity_anim"></div>
                                            <div class="man_watch opacity_anim"></div>
                                            <div class="man_write opacity_anim"></div>
                                            <div class="man_chat_video"></div>
                                            <div class="man_chat_no_video"></div>
                                            <div class="man_chat_no_video_m"></div>
                                            <div class="man_chat_no_video_g"></div>
                                            -->
                                        </div>
                                        <a ng-click="select([[u.user_id]])"  class="photo_block">
                                            <img src="Media/images/users/small/[[u.image]]" alt="">
                                        </a>
                                    </div>
                                    <div class="flr">
                                        <a ng-click="invite_window([[u.user_id]])" class="invite invite_to_chat"><span></span></a>
                                        <a ng-click="delete([[u.user_id]])" href="#delete_pop" class="delete"><span></span></a>
                                    </div>
                                    <div class="flc">
                                        <a href="#" class="name_age_id">[[u.name]], [[u.age]] (ID [[u.user_id]])</a>
                                        <div class="city_country">[[u.city]], [[u.country]]</div>
                                    </div>
                                    </li>
                                </ul>
                        <div style="display: none">
                        <div  id="delete_pop2" class="enterRegPopup zoomAnim chat_pop">
                            <div class="logo_pop"><img src="Media/pic/logo_pop.png" alt=""></div>
                            <div class="delivery_block">
                                <h1>Are you sure?</h1>
                                <a ng-click="deleteAll()" href="#" class="wButton delete_men"><span>yes</span></a>
                                <a href="#" class="wButton wButtonA"><span>no</span></a>
                            </div>
                        </div>
                        </div>
                       <!---------------------->

                    <a href="" class="clear_cont_list delete2" ng-really-message="Are you sure?" ng-really-click="deleteAll()" >Clear list</a>
                    </section>
                </div>
            </div>

            <section ng-controller="VideoCtrl">

                <div id="oponent_video_container">
                                
                    <div id="opponentVideo"> </div>

                    <div ng-show="isOpponentVideoActive">

                        <span ng-show="!isOpponentCamEnabled"> Enable opponent's video </span>
                        <a ng-show="!isOpponentCamEnabled"  ng-click="showOpponentVideo(opponent_id)" class="video_play">
                            <span></span>
                        </a>
     
                        <span ng-show="isOpponentCamEnabled"> Disable opponent's video </span>
                        <a ng-show="isOpponentCamEnabled"  ng-click="hideOpponentVideo(opponent_id)" class="video_play">
                                <span></span>
                        </a>
                    </div>
     

                </div> 
                            
                          
            
            </section>            

            <section ng-controller="RoomCtrl">
            <div class="flc">
            
                <h2 ng-show="!hasActiveRoom">There is no active room</h2>
                <div ng-show="hasActiveRoom" class="live_chat_block">
                    <div class="video_online_block">
                        <div class="video_online">
                            
                        </div>
                        <div class="chat_main">
                            <div class="flr">
                                <chat-translate> </chat-translate>
                            </div>
                            <div class="clear"></div>
                            <div class="ms_bar">
                                <ul class="live_write">
                                    <li class="clearFix girl_live main" ng-repeat="m in messages">
                                        <div class="fll">
                                            <div class="img_live"><img src="Media/images/users/small/[[m.owner.image]]" alt=""></div>
                                            <div class="name">[[m.owner.name]]</div>
                                        </div>
                                        <div class="flr">
                                            <time datetime="[[m.created]]">[[m.created]]</time>
                                        </div>
                                        <div class="flc">
                                            <div class="message_main">
                                                <div class="message_in" ng-bind-html="m.message"></div>
                                                <div class="translator">
                                                    <div class="message_trans" ng-bind-html="m.translated_message"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="message_block clearFix">
                        <form>
                            <div class="fll">
                                <div class="textarea_block">
                                    <div class="text_block_massege">
                                        <textarea></textarea>
                                        <div class="cTextDiv" id="chat_message" contenteditable="true"></div>
                                       
                                    </div>
                                </div>
                                <div class="translate_mess">Привет!</div>
                            </div>
                            <div class="flr">
                                <div opponent-info></div>
                                <div class="but_for_send">
                                    <button ng-click="sendMessage()" type="submit" class="wButton wButtonA send"><span>send</span></button>           
 
                                    <button class="wButton wButtonB" ng-click="translate()" type="submit"> Translate </button>   
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </section>
            <div class="clear"></div>
        </div>
    </div>
    <!-- .wConteiner -->
</div>
<!-- .wWrapper -->





<div style="display: none;">

   
    <div id="delete_pop" class="enterRegPopup zoomAnim chat_pop">
        <div class="logo_pop"><img src="Media/pic/logo_pop.png" alt=""></div>
        <div class="delivery_block">
            <h1>Are you sure?</h1>
            <a href="#" class="wButton delete_men"><span>yes</span></a>
            <a href="#" class="wButton wButtonA"><span>no</span></a>
        </div>
    </div>
</div>

