redis==2.10.1
sockjs-tornado==1.0.1
tornado==4.0.2
fabric
sphinx
Django==1.8
websocket-client==0.32.0
sphinxcontrib-plantuml
sphinx-autobuild
requests
PySQLPool==0.3.8
django-jsonview==0.4.3
sphinxcontrib-autoanysrc
django-suit==0.2.13
