<html>
<head>
	<title>Angular</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/js/lib/angular/angular.min.js"></script>
    <script src="/static/js/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/static/js/lib/restangular/dist/restangular.min.js"></script>
    <script src="/static/js/lib/underscore/underscore-min.js"></script>
    <script src="/static/js/lib/angular-cookies/angular-cookies.js"></script>
    <script src="/static/js/lib/angular-websocket/angular-websocket.js"></script>
    <link href="/static/js/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/custom.css" rel="stylesheet" />
    <link href="/static/js/lib/angular/angular-csp.css" rel="stylesheet" />


</head>

<body ng-app="AngularChatApp"> 
	
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         
          <div class="container">
            
            <div class="navbar-header">
               
              <a class="navbar-brand" href="/">Angular Chat</a>
            </div>
            <div class="navbar-collapse collapse">
                
            <ul class="nav navbar-nav">
                
                <li><a href="#"  ui-sref="register">Link</a></li>        
                
            </ul>	
	
          

            </div><!--/.navbar-collapse -->
        </div>
    </div>
    

    <div style="margin-top: 60px;" >
      
                <div class="well col-md-12">
                    <div ui-view >Loading...</div>
                </div> 


       <!-- User online list -->
       <section ng-controller="UserOnlineCtrl">
                <ul>
                    <li ng-repeat="u in user_list"> [[ u.name ]] </li>
                </ul>
                <a  ng-click="update()">Update</a>
       </section>
       <!---------------------->



       <!-- Contact list -->
       <section ng-controller="ContactListCtrl">

       </section>
       <!---------------------->


       <!-- Current room -->
       <section ng-controller="CurrentRoomCtrl">

       </section>
       <!---------------------->


       <!-- My video -->
       <section ng-controller="MyVideoCtrl">

       </section>
       <!---------------------->


       <!-- Opponent video -->
       <section ng-controller="OpponentVideoCtrl">

       </section>
       <!---------------------->

       
    </div>
   
    <script src="/static/js/app/app.js"></script>
    <script src="/static/js/app/controllers/controllers.js"></script>
    <script src="/static/js/app/routers.js"></script>
    <script src="/static/js/app/services/services.js"></script>
    <script src="/static/js/app/directives/directives.js"></script>
    <script src="/static/js/app/services/websocket.js"></script>
    <script src="/static/js/app/utils.js"></script>
    <script src="/static/api.conf.js"></script>


</body>
</html>

