<div id="flashContent" >
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="240" height="180"  align="middle">
        <param name="movie" value="/static/video.swf" />
        <param name="quality" value="high" />
        <param name="bgcolor" value="#ffffff" />
        <param name="play" value="true" />
        <param name="loop" value="true" />
        <param name="wmode" value="window" />
        <param name="scale" value="showall" />
        <param name="menu" value="true" />
        <param name="devicefont" value="false" />
        <param name="salign" value="" />
        <param name="allowScriptAccess" value="sameDomain" />
        <param name="FlashVars" value="streamName={{ sign }}&url=rtmp://symfony.com.ua:33333/myapp&micOn=false&type=in" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="/static/video.swf" width="240" height="180">
            <param name="movie" value="/video.swf" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#ffffff" />
            <param name="play" value="true" />
            <param name="loop" value="true" />
            <param name="wmode" value="window" />
            <param name="scale" value="showall" />
            <param name="menu" value="true" />
            <param name="devicefont" value="false" />
            <param name="salign" value="" />
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="FlashVars" value="streamName={{ sign }}&url=rtmp://symfony.com.ua:33333/myapp&micOn=false&type=in" />
            <!--<![endif]-->
            <a href="http://www.adobe.com/go/getflash">
                <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Загрузить Adobe Flash Player" />
            </a>
            <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
    </object>
</div>
