        <div class="man_who_write clearFix">
            <div class="fll">
                <a href="#" class="img_man_w">
                    <img src="Media/images/users/small/[[opponent.image]]" alt="">

                    <div ng-show="opponent.is_online == 1" class="on_line"><span></span></div>
                    <div ng-show="opponent.is_online == 0" class="off_line"><span></span></div>
                 
                </a>
            </div>
            <div class="flr">
                <a href="#" class="name_age_id">[[opponent.name]], [[opponent.age]] (ID [[opponent.user_id]])</a>
                <div class="city_country">[[opponent.city]], [[opponent.country]]</div>
            </div>
        </div>
