        <div class="man_who_write clearFix">
            <div class="fll">
                <a href="#" class="img_man_w">
                    <img src="[[opponent.image]]" alt="">

                    <div ng-show="online['user_'+opponent.user_id]" class="on_line"><span></span></div>
                    <div ng-show="!online['user_'+opponent.user_id]" class="off_line"><span></span></div>
                                 

                </a>
            </div>
            <div class="flr">
                <a href="#" class="name_age_id">[[opponent.name]], [[opponent.age]] (ID [[opponent.user_id]])</a>
                <div class="city_country">[[opponent.city]], [[opponent.country]]</div>
            </div>
        </div>
