<!DOCTYPE html>
<html lang="en" dir="ltr">
<!-- (c) студия Wezom | www.wezom.com.ua -->

<head>
   
<script src="angular.min.js"></script>
<script src="simple-webrtc.js"></script>
<script src="ng-simple-webrtc.js"></script>    


</head>

<body ng-app="AngularChatApp" id="ng-app">

<div ng-controller="WatchAppController">
  <input type="text" ng-model="roomName" placeholder="Join room with name" />
  <watch-room room-name="roomName" joined-room="joinedRoom"></watch-room>
  <button ng-click="joinRoom()">Join room</button>
  <button ng-click="leaveRoom()">Leave room</button>
</div>

<script>

    angular.module('AngularChatApp', ['SimpleWebRTC'])
    .controller('WatchAppController', function ($scope) {
    $scope.roomName = '';
    $scope.joinedRoom = false;
    $scope.joinRoom = function () {
      $scope.$broadcast('joinRoom');
    };
    $scope.leaveRoom = function () {
      $scope.$broadcast('leaveRoom');
    };
  });
    

</script>

</body>
